.header__logo {
  width: 142.01px;
  height: 33.4px;
  margin-bottom: 41px;
}

@media screen and (max-width: 881px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
    margin-bottom: 30.6px;
  }
}