@import url(./__img/profile__img.css);
@import url(./__add/profile__add.css);
@import url(./__img-hover/profile__img-hover.css);

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 882px;
  margin: 40px auto 0;
}

@media screen and (max-width: 660px){
  .profile {
    flex-direction: column;
    max-width: calc(100% - 38px);
  }
}