@import url(./__name/profile-info__name.css);
@import url(./__status/profile-info__status.css);
@import url(./__change/profile-info__change.css);

.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  max-width: 336px;
  margin-left: 30px;
}

@media screen and (max-width: 660px){
  .profile-info {
    margin-left: 0px;
    margin-top: 14px;
    max-width: 280px;
    justify-content: center;
  }
}