.popup__submit {
  width: 358px;
  height: 50px;
  padding: 0;
  margin-bottom: 37px;
  background-color: #000;
  border-radius: 2px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #fff;
}

.popup__submit:active {
  transform: scale(.9, .9);
}

.popup__submit:hover {
  opacity: .8;
  cursor: pointer;
  transition: opacity .5s linear;
}

@media screen and (max-width: 581px) {
  .popup__submit {
    width: 83.3%;
    height: 40px;
    margin-bottom: 34px;
  } 
}

@media screen and (max-width: 455px) {
  .popup__submit {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
